html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
nav {
  float: left;
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #333;
  color: #FFF;
}
.navbar-sep {
  margin-left: 4px;
  border-left: 1px solid #888;
  padding-right: 8px;
  width: 1px;
}
.navbar-demo {
  font-weight: 100;
  font-size: 9pt;
}
nav > a:link    { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:active  { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:visited { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:hover   { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:focus   { outline: none; -moz-outline-style: none; }

/* Separation */
.gutter {
  background-color: #eee;
}

/* Panes */
.content {
  display: block;
  height: 100%;
}
.pane {
  display: block;
  box-sizing: border-box;
}
