html {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 41px;
  height: calc(100% - 41px);
  font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  padding: 10px;
  width: calc(100% - 20px);
  background-color: #333;
  color: #FFF;
}
.navbar-sep {
  margin-left: 4px;
  border-left: 1px solid #888;
  padding-right: 8px;
  width: 1px;
}
.navbar-demo {
  font-weight: 100;
  font-size: 9pt;
}
nav > a:link    { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:active  { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:visited { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:hover   { color: #EEE; text-decoration: none; border: 0px; -moz-outline-style: none; }
nav > a:focus   { outline: none; -moz-outline-style: none; }

/* Separation */
.split {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #333;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('resources/grips_vertical.png');
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('resources/grips_horizontal.png');
}
.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* Panes */
.content {
  background-color: #666;
  font-family: 'Inconsolata';
  font-size: 14px;
  color: #EEE;
}
#assembler {
  padding: 5px;
}
#registers {
  padding: 5px;
}

/* Toolbar */
.toolbar {
  background-color: #444;
  padding: 4px;
  height: 20px;
  color: #EEE;
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE/Edge */
          user-select: none; /* Chrome/Opera */
}
.toolbar-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #EEE;
  background-color: #555;
  text-align: center;
  cursor: pointer;
}
.toolbar-button:hover  { background-color: #666; color: #EEE; }
.toolbar-button:active { background-color: #777; color: #EEE; }
